body {
    background: url("../css/images/heartwarming-coffee-moment-stockcake.jpg");
    background-size:cover;
}

h1 {
    color: rgb(162, 157, 18);
    font: 100px Garamond, Helvetica, serif;
    font-family: "Style Script", cursive;
    font-weight: 400;
    font-style: normal
}

table {
    width: 50%;
}

thead {
    text-align: left;
}

label {
    display: block;
}

#submit-btn {
    display: block;
}

.white {
    color: white;
}

.text {
    
}

table {
    text-align: center;
    
}

thead {
    text-align: center;
}

.style-script-regular {
  font-family: "Style Script", cursive;
  font-weight: 400;
  font-style: normal
}

.inset {
    border-style: inset;
}

#title {
    text-align: center;
    border-style: inset;
    border-width: 3px;
    padding: 10px; 
}

#menu {
    text-align: center;
    color: white;

}

#table{
    border-style: double;
    color: white;
    text-align: center;
    margin: 10px 20px 10px 200px 
   
}