body  {
    background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
    font-family: sans-serif;
    font-family: Arial, sans-serif;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

h1 {
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-weight: bold;
    color: white;
    background-color: rgb(240, 126, 74);
}

h2 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: bold;

    color: white;
}

h3 {
    font-weight: bold;
}

nav {
  background-color: burlywood;
  margin: -10 0 0 0;
  align: left;
  
  
}

.menu {
    background-color: beige;
    max-width: 500;
    border-radius: 10px
}

.menu-label {

}

.price {
    text-align: right;
}

.flavor {
    text-align: left;
}

.coffee-icon {
  font-size: 2rem;
  color: #6b4f3b; /* coffee-brown */
    padding-top: 12%;

}

.header {
    background-color: rgb(240, 126, 74);
}

.about-us {
    margin-right: auto;
    margin-left: auto;
    margin-top: 3%;
    margin-bottom: 3%;
    background-color: beige;
    max-width: 1000;
    text-align: center;
    border-radius: 10px
    
}

.p {
    
}
.navbar {
  background-color: #6f4e37 !important; /* coffee brown */
}

footer {
  background-color: #6f4e37 !important; /* Coffee brown */
}
footer a:hover {
  color: #ffe0b2 !important; /* Light coffee cream on hover */
}
.carousel-inner img {
  height: auto;
  width: 300px;
  object-fit: cover;
}

.carousel-caption {
  bottom: 1.5rem;
  font-size: 1.1rem;
}

.playwrite-de-grund-guides-regular {
  font-family: "Playwrite DE Grund Guides", cursive;
  font-weight: 400;
  font-style: normal;
}

.lorem {
    background-color: rgb(240, 126, 74);
    color: white;
    padding: 3px; 
}

.mycarousel {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}